@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-background: rgb(17 24 39);
  --text-gray: #4b5563;
  --text-gray-footer: #9ca3af;
  --blue: #2563eb;
  --gradient: linear-gradient(
    to right top,
    #befcff,
    #86e7fd,
    #49d0ff,
    #00b5ff,
    #0098ff,
    #0087ff,
    #1074ff,
    #425dff,
    #5c54ff,
    #7349ff,
    #8839ff,
    #9d1eff
  );
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ececec;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
