.mainContainer {
  background-image: linear-gradient(
    to right bottom,
    #befcff50,
    #86e7fd42,
    #49d1ff36,
    #00b7ff50,
    #0099ff33,
    #0088ff2a,
    #8839ff3f,
    #9e1eff28
  );

  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mainContainerDisclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
  background-color: #ff0000;
}
