.resourcesContainer {
  padding: 20px;
  background-color: #f3ffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  padding: 50px;
}

.resourcesTextContainer {
  display: grid;
  grid-template-columns: repeat(1, fr);
  grid-template-rows: repeat(3, fr);
  gap: 20px;
  align-items: center;
}

.subtitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--text-black);
}

.resourcesText {
  width: 584px;
  font-size: 1.3rem;
  color: var(--text-gray);
}

.resourcesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.resourcesList i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50px;
  width: 16px;
  height: 16px;
  padding: 13px;
  font-size: 1.2rem;
}

.resourcesList span {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  color: var(--text-black);
}

.resource2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.resource3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.resource4 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.resource5 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.resource6 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.resource7 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 584px;
  height: 438px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.192);
}
